<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title tony camaiani » web design › web development › photography › video
    %meta{:content => "Tony Camaiani: Web Designer, Frontend Developer, Web Developer, Low-fi Photographer and Videomaker", :name => "description"}
    %meta{:content => "Tony Camaiani, Web Designer, Web Developer, Videomaker, Low-fi Photographer, Photographer, Italy, Italia, Spain, España, Valencia, Comunidad Valenciana, Web, Design, Development, Frontend, Markup, Freelance, Autonomo, Photography, Video, Videoclip, Low-fi, Lomography, Lomo, Lomographer, Polaroid", :name => "keywords"}/
    %meta{:content => "Tony Camaiani", :name => "author"}
    %meta{:content => "QIN0YyjyflCSnAjP6cdgA3C_6jG27fgDlcDM14DKWrY", :name => "google-site-verification"}/
    %meta{:content => "width=device-width", :name => "viewport"}
    %link{:href => "http://tony.camaiani.it", :rel => "canonical"}/
    / Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,600", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/style.css", :rel => "stylesheet"}
    %script{:src => "js/libs/modernizr.min.js"}
  %body
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    #container
      %header
        %h1 tony camaiani
      #main.hide{:role => "main"}
        %h2 about [me]
        %section#tabs
          %ul
            %li
              %a.active{:href => "#tab_1"} English
            %li
              %a{:href => "#tab_2"} Italiano
            %li
              %a{:href => "#tab_3"} Castellano
          #tab_1.tabContents
            %p I was born on the third day of September, about thirty years ago on canadian land from italian parents.
            %p Eight years later, my family decided to go back to Italy. We moved to a little coastal town in the middle of the country, where I spent all my adolescence.
            %p
              After obtaining my high school diploma, I moved to Bologna to study Computer Science at University.
              Besides studying towards my Degree, during these years I volunteered in several activities that went beyond Computer Science.
            %p These experience shifted my interests towards the human, visual and communication aspects of Computer Science, and led me to opt for a thesis on Usability. Specifically my thesis focused on human-computer interaction, with a special emphasis on the design of web interfaces.
            %p After the degree, I started working as mentor, computer advisor and web applications designer and developer as free-lance as well as project worker in corporate teams.
            %p In my spare time I cultivate my interests in usability, [visual] communication, videoclips directing and photography, especially analogical with a particular passion for lomography and instant polaroids.
            %p From the beginning of 2009 I moved to Valencia, Spain, where I continue with my web-related professional activities as well as my [visual] interests.
          #tab_2.tabContents
            %p Sono nato il terzo giorno di Settembre di una trentina di anni fa in terra canadese da genitori italiani.
            %p Trascorsi otto anni, la mia famiglia decide di tornare in Italia, trasferendosi in una piccola città marittima del basso marchigiano, dove ho trascorso tutta la mia adolescenza.
            %p Dopo il conseguimento della maturità, decido di trasferirmi a Bologna per iscrivermi al corso di laurea in informatica.
            %p Durante gli anni universitari, oltre allo studio, mi sono dedicato ad altre attività sia lavorative che ricreative, a volte non inerenti al campo informatico.
            %p Queste esperienze hanno spostato il mio interesse informatico verso aspetti più umani, visivi e comunicativi, optando per una tesi di laurea riguardante l'usabilità, disciplina che si occupa di relazioni persona-oggetto applicata nella progettazione di interfacce, in particolare di siti web.
            %p Dopo la laurea ho iniziato a svolgere l'attività di insegnante, consulente informatico, disegnatore e sviluppatore di applicazioni web, sia come freelance che come collaboratore in team aziendali.
            %p Nel tempo libero coltivo i miei interessi riguardanti l'usabilità, la comunicazione [visiva], i videoclip, e la fotografia, soprattutto analogica, con una passione particolare per la lomografia e le istantanee polaroid.
            %p Dall'inizio del 2009 mi sono trasferito a Valencia, in Spagna, dove continuo sia con le mie attività lavorative legate al web, che con i miei interessi [visivi].
          #tab_3.tabContents
            %p Nací el tercer día de Septiembre, hace aproximadamente treinta años, en suelo canadiense con padres italianos.
            %p Ocho años más tarde, mi familia decidió volver a Italia, se mudó a una pequeña ciudad costera en el centro del país, donde pasé toda mi adolescencia.
            %p Después de obtener mi diploma de la escuela secundaria, me trasladé a Bologna para obtener una licenciatura en Informática.
            %p Durante estos años, además de estudiar, participé en varias actividades, laborales y recreativas que fueron más allá de la informática.
            %p Estas experiencias ampliaron mis intereses informáticos hacia aspectos más humanos, visuales y comunicativos, optando por una tesis sobre la usabilidad, disciplina que se ocupa de las relaciones humano-objeto, en particular del diseño de interfaces para sitios web.
            %p Después de la licenciatura, comencé a trabajar como profesor, asesor y diseñador de aplicaciones para la web como autónomo y como trabajador en empresas.
            %p En mi tiempo libre amplío mis conocimientos en cuanto a usabilidad, comunicación [visual], dirección de videoclips y fotografía, sobretodo analógicas, con una pasión particular para la lomografia y las instántaneas polaroid.
            %p A principios de 2009 me mudé a Valencia, en España, donde continúo con mis actividades laborales relacionadas con el Web, así como mis intereses [visuales].
        %h2.shift1 [web]folio
        %section
          .dialog
            %a.dialog-opener{:href => "#dialog34", :title => "Tony Camaiani Frontend development"}
              %img.blink{:alt => "Tony Camaiani Frontend development", :src => "images/webfolio/webfolio34_thumb.jpg", :title => "Tony Camaiani Frontend development"}/
            #dialog34.dialog-modal
              %img.left.image{:alt => "Tony Camaiani Frontend development", :src => "images/webfolio/webfolio34.gif", :title => "Tony Camaiani Frontend development"}/
              %dl.single_desc
                %dd.title Futmi.com
                %dt year:
                %dd 2010
                %dt employer:
                %dd ArtVisual
                %dt technology:
                %dd Cake PHP
                %dt activities:
                %dd Frontend development
        %h2.shift2 [photo]grapy
        %section
          3
        %h2.shift3 video[clips]
        %section
          4
        %h2.text_right contact [me]
        %section
          .emailthing
            %form#sendEmail{:action => "#", :method => "post"}
              %p.alert ... and fill in this form to send me a message, all fields are required
              %ul.forms.block
                %li.text
                  %label{:for => "email"} Your email
                  %input#email{:name => "email", :type => "text", :value => ""}/
                %li.text
                  %label{:for => "name"} Your name
                  %input#name{:name => "name", :type => "text", :value => ""}/
                %li.textarea
                  %label{:for => "message"} Your message
                  %textarea#message{:name => "message"}
                %li.buttons
                  %button#submit{:type => "submit"} Send »
                  %input#submitted{:name => "submitted", :type => "hidden", :value => "true"}/
            .clearing
          / emailthing
      %footer.clearfix
        .width33.left
          \© 2011 by Tony Camaiani
        .width33.left.text_center
          %a{:href => "mailto:tony@camaiani.it"}
            tony
            %span.mail [at]
            camaiani.it
        .width33.left.text_right.social
          %a.social.linkedin{:href => "http://www.linkedin.com/in/camaiani", :target => "_blank"} i
          %a.social.github{:href => "https://github.com/tonycamaiani", :target => "_blank"} j
          %a.socialimage.tumblr{:href => "http://stupidnotes.tumblr.com/", :target => "_blank"}
            u
          %a.social.flickr{:href => "http://www.flickr.com/photos/nooone/", :target => "_blank"} a
          %a.social.tumblr{:href => "http://highlowfi.tumblr.com/", :target => "_blank"}
            u
          %a.social.vimeo{:href => "http://vimeo.com/nooone", :target => "_blank"} v
    / ! end of #container
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

    <script src="js/libs/jquery-ui-1.8.21.custom.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>

    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
         mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>